hr {
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
}

button {
    background: none; border: none;
    border: 1px solid #ccc;
    padding:5px 10px;
    cursor: pointer;
}

button[type=submit] {
    background: green;
    color: #fff;
    border-color: green;
}

button:hover {
    border-radius:5px;
}

.hide {
    display: none;
}

.container {
    width:100%;
    margin:0 auto;
    font-family:sans-serif;
}

.list {
    float:left;
    width:100px;
    height:100%;
}

.list ul {
    list-style:none;
    margin:0; padding:0;
}

li {
    font-size:10pt;
    font-weight:bold;    
    margin:2px 0;
    background: #555;
    display:inline-block;
    width:100%;
    padding:2px 5px;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
}

h4 {
    margin:0; padding:0;
}

li:hover {
    background:#09c;
}

.preview {
    float:left;
    border:1px solid #ccc;
    width:200px;
    height:270px;
    text-align:center;
    margin-left: 30px;
}

.preview img {
    max-height:200px;
}

.admin {
    float:left;
    margin-left: 20px;
}

.admin label {
    display: block;
    margin:10px 0;
}

.admin .row {
    margin-left:95px;
}

.admin label span {
    display: inline-block;
    width:80px;
    text-align: right;
    padding-right: 10px;
}